<link rel="stylesheet" type="text/css" href="../css/cart.css"/>
		<header>
			<p>购物车</p>
		</header>
		<div class="cartcontent" ng-controller="cartCtrl">				
			<div class="info"  ng-show="cartd.length" ng-hide="total()==0">
				<div><span>收货人</span><p>王女士</p></div>
				<div><span>电 话</span><p>1553110000<span style="float: right;">修改></span></p></div>
				<div><span>收货地址</span><p>北京市</p></div>
			</div>
			
			<div class="cartlist"  ng-show="cartd.length" ng-hide="total()==0">
				<div class="cartlist_title">
					<p><span></span>闪送超市</p>
					<p>￥0元起送，22:00前满￥30减免运费，22:00后满￥69减免运费</p>
				</div>
				<div class="cartlist_time">
					<p><span>收货时间</span><span>一小时送达</span><span>可预订> </span></p>
				</div>
				<div class="cartlist_remark">
					<p><span>收获备注</span><input type="text" placeholder="可输入一百字以内特殊要求内容" /></p>
				</div>
		<!--购物车商品列表-->
				<div class="cartproduct" ng-repeat="obj in cartd" ng-hide="obj['count']==0">
					<div>
						<img ng-src={{obj['img']}}/>
						<img src="../images/choose-this.png" id="choosethis"/>
					</div>
					<div>
						<p>{{obj['name']}}</p>
						<p>￥{{obj['price']}}</p>
						<p>
							<span ng-click="removepro(obj)"><a href=""><img src="../images/n27.png"/></a></span>
							<span>{{obj['count']}}</span>
							<span ng-click="addpro(obj)"><a href=""><img src="../images/n26.png"/></a></span>
						</p>
					</div>
				</div>
				<div class="callist">
					<span>全选</span>
					<span>共：</span>
					<span>￥{{total() | number:2}}</span>
					<span><button>选好了</button></span>
				</div>			
			</div>
			<div class="cartempety"  ng-show="cartd.length==0" ng-hide="total()">
				<img src="../images/empty.png"/>
				<p>亲，购物车空空的哦~~</p>
				<p><a href="#/home">去逛逛</a></button></p>
			</div>
		</div>
		
		
		<footer>
			<a href="#/home"><img src="../images/footer-1.png" alt="" /><span>首页</span></a>
			<a href="#/market"><img src="../images/footer-2.png" alt="" /><span>闪送超市</span></a>
			<a href="#/reverse"><img src="../images/footer-3.png" alt="" /><span>新鲜预定</span></a>
			<a href="#/cart"><img src="../images/footer-4.png" alt="" /><span>购物车</span></a>
			<a href="#/own"><img src="../images/footer-5.png" alt="" /><span>我的</span></a>
		</footer>
