*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 100px;
}
body{
	width: 100%;
	font-size: 0.1rem;
	font-family: "微软雅黑",arial ;
	background: #efefef;
}
a{
	text-decoration: none;
	color: black;
}
li{
	list-style: none;
}
header{
	width: 100%;
	height: 0.65rem;
	padding: 0.1rem;
	background: #efefef;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	position: fixed;
	top: 0;
	z-index: 2;
}
header p{
	font-size: 20px;	
}
header div{
	width: 12%;
	text-align: center;
	padding: 0.05rem 0;
	/*border: 1px solid red;*/
}
header div img{
	width: 80%;
}
.buy{
	width: 100%;
	position: relative;
	margin-top: 0.65rem;
}
.buybanner{
	width: 100%;
}
.buybanner img{
	width: 100%;
}
.buy ul{
	width: 100%;
	display: flex;
}
.buy ul li{
	color: white;
	width: 24.5%;
	background: #272b2a;
	text-align: center;
}
.buy ul li span{
	font-size: 14px;
	display: block;
}
.buy .nowbuy{
	background: #fdd100;
}
.timewrap{
	width: 100%;
	
	line-height: 0.5rem;
}
.timewrap span{
	width: 35%;
	font-size: 14px;
	padding: 0.1rem;
	
}
.timewrap span:first-child{
	background: #fdd100;
	color: white;
	margin-right: 30%;
}
.timewrap span:last-child{
	background: black;
	color: white;
	border-radius: 10%;
}
.buylist{
	width: 100%;	
	display: flex;
	justify-content: space-between;
}
.buylist div{
	background: white;
	margin-bottom: 0.1rem;
}
.buylist1{
	width: 40%;
}
.buylist1 img{
	width: 100%;
}
.buylist2{
	width: 59.5%;
	font-size: 14px;
	display: flex;
	flex-flow: column wrap;
	padding: 0.2rem 0;
	padding-left: 0.2rem;
}
.buylist2 p{
	margin-bottom: 0.1rem;
}
.buylist2 p:nth-of-type(1){
	font-size: 15px;
}
.buylist2 p:nth-of-type(3){
	color: red;
}
.buylist2 p:nth-of-type(3) span{
	color: #c0b7b8;
}
.buylist2 p:nth-of-type(4) span{
	display: block;
	width: 1.2rem;
	line-height: 0.35rem;
	text-align: center;
	color: white;
	font-size: 15px;
	
	background: red;
	border-radius: 0.25rem;
}
.buylist2 p:nth-of-type(4) .endcolor{
	background: #aaaaaa;
}
.buy #cart{
	display: block;
	position: fixed;
	bottom: 0.2rem;
	right: 0.2rem;
	width: 0.6rem;
	height: 0.6rem;
	background: #ffd600;
	border-radius: 100%;

}
#cart img{
	width: 100%
}
